@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@100;400&family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(320deg, #0093E9 0%, #80D0C7 60%);
    color: white;
}

header {
    display: flex;
    justify-content: center;
}

.game {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    background-color: #111D4A;
}

.game-details {
    font-weight: 500;
    color: #B8C6DC;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.area {
    background: #111D4A;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.area .food {
    background: #FF003D;
}

.area .head {
    background: #60CBFF;
}
/* bootons for nivel game */
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: backgroud 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}

button:hover,
button:focus {
    background: white;
    color: black;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
/* Controls area for small screens */
.controls {
    display: none;
    justify-content: space-between;
}

.controls i {
    padding: 25px 0;
    text-align: center;
    font-size: 1.3rem;
    color: #B8C6DC;
    width: calc(100% / 4);
    cursor: pointer;
    border-right: 1px solid #171B26;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    height: auto;
}

footer>div {
    width: 100vw;
    max-width: 400px;
    padding: 1em 1em;
    height: fit-content;
    color: white;
    text-align: center;
    font-size: 1em;
}

#social ul {
    display: flex;
    justify-content: center;
    gap: 3em;
    list-style-type: none;
}

#social i {
    font-size: 2em;
    color: #0069ed;
}

#social i:hover {
    color: white;
}

/* Media Squeare */
@media screen and (max-width: 800px) {
    .game{
        width: 70vh;
        height: 70vh;
    }

    .game-area {
        font-size: 1rem;
        padding: 15px 15px;
    }

    .controls {
        display: flex;
    }
    
    .controls i {
        padding: 15px 0;
        font-size: 1rem;
       }
}